---
import App from "../components/App";
import '@fontsource/orbitron';
---

<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kj455.</title>
  </head>
  <body>
    <App client:only="react" />
  </body>
</html>
<style>
</style>